{% extends "layout.html" %}

{% block title %}Reset Password - SignIn{% endblock %}

{% block body %}
<body style="background-color: lightgray;">
    <br>
    <body style="margin-top: 5rem;">
        <div class="container">
            <div class="form-outline mb-4">
                <div class="col-sm-4"></div>
                    <div class="form-floating col-sm-4" style="background-color: rgb(236,236,236); padding: 4rem;">
                    <p style="font-size: 20px; text-align: center; font-family: Arial;">
                        <strong>
                        <span class="glyphicon glyphicon-lock" style="font-size: 50px;"></span>
                        <br>
                        Trouble Logging In?
                        </strong> 
                    </p>  

                    <form class="form-register" method="POST">
                        {{ form.hidden_tag() }}
                        
                        <p style="font-family: Arial; font-size: 13px; text-align: center; color: #5c5c5c;">
                            Enter your email and we'll send you a link to get back into your account.
                        </p> 

                        <!-- Error messages -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, msg in messages %}
                                    <div class="alert alert-{{ category }}">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        {{ msg }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        {% for field, errors in form.errors.items() %}
                          {% if form[field].name == 'email' %}
                            <div class="col-sm-12" style="padding: 1%;">
                              <small class="form-text text-muted" style="color: red;">
                                {{ ', '.join(errors) }}
                              </small>
                            </div>
                          {% endif %}
                        {% endfor %}
                        {{ form.email(class="form-control", placeholder="Email")}}
                        <br>
                        {{ form.submit(class="btn btn-primary btn-block") }}
                        <br>
                        <hr>
                        <br>
                        <p style="font-family: Arial; font-size: 15px; text-align: center; color: #5c5c5c;">
                            <a href="{{ url_for('register_page') }}"  style="color: #000000 ;">Create New Account</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
          <div class="col-sm-4"></div>
            <div class="col-sm-4" style="background-color: #b6b6b6;">
                <br>
                <p style="font-family: Arial; font-size: 15px; text-align: center; color: #5c5c5c;">
                    <a href="{{ url_for('login_page') }}"  style="color: #000000 ;">Back To Login</a>
                </p>
                <br>
            </div>
        </div>
        <br>
    </body>
</body>
{% endblock %}

