{% extends "layout.html" %}

{% block title %}Log In - SignIn{% endblock %}

{% block body %}
  <body style="background-color: lightgray;">
    <br>
    <body style="margin-top: 5rem;">
      <div class="container">
        <div class="form-outline mb-4">
          <div class="col-sm-4"></div>
            <div class="form-floating col-sm-4" style="background-color: rgb(236,236,236); padding: 4rem;">
              <p style="font-size: 40px; text-align: center; font-family: 'Brush Script MT', cursive;">
                <strong>
                  <a href="{{ url_for('login_page') }}"  style="color: #000000;">LOGIN</a> 
                </strong>
              </p>  
              <br>
              <form class="form-register" method="POST">
                {{ form.hidden_tag() }}
                <!-- Error messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, msg in messages %}
                            <div class="alert alert-{{ category }}">
                                <label>{{ msg }}</label> 
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <br>
                {% for field, errors in form.errors.items() %}
                  {% if form[field].name == 'email' %}
                    <div class="col-sm-12" style="padding: 1%;">
                      <small class="form-text text-muted" style="color: red;">
                        {{ ', '.join(errors) }}
                      </small>
                    </div>
                  {% endif %}
                {% endfor %}
                {{ form.email(class="form-control", placeholder="Email")}}

                <br>
                {{ form.password(class="form-control", placeholder="Password") }}
                
                <br>
                {{ form.submit(class="btn btn-primary btn-block") }}
                <br>
                <hr>
                <br>
                <p style="font-family: Arial; font-size: 14px; text-align: center;">
                  <a href="{{ url_for('reset_password_page') }}"  style="color: #025297;">Forgot password? </a>
                </p>
              </form>
            </div>
          </div>
        </div>
        <br>
        <div class="container">
          <div class="col-sm-4"></div>
          <div class="col-sm-4" style="background-color: rgb(236,236,236);">
            <br>
            <p style="font-family: Arial; font-size: 15px; text-align: center; color: #5c5c5c;">
              Don't have an account? <a href="{{ url_for('register_page') }}"  style="color: #0275d8 ;">Sign up</a>
            </p>
            <br>
          </div>
        </div>
        <br>
      </div>
    </body>
  </body>
{% endblock %}

